---
---

body {
    font-size: 10px !important;
}

.container {
  max-width: 2200px;
  margin: 0 auto;
}

@include large {
  .container {
    max-width: 2200px;
  }
}

@include medium {
  .container {
    max-width: 1800px;
  }
}

@include small {
  .container {
    max-width: 100%;
  }
}

@import "custom";